<div class="container" style="padding-bottom: 2px;">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center" style="font-size: 3.5em; white-space:nowrap;">{{site.title}}</h1>
          {% endif %}

          <br><br>

          {% if site.source_description != '' %}
          <h5 class="text-center" style="font-size: 2em;font-weight: 800;">{{site.source_description}}</h5>
          {% endif %}

          {% if site.description != '' %}
          <h5 class="text-center" style="font-size: 1.8em;font-weight: 400;">{{site.description}}</h5>
          {% endif %}
          
          {% if site.university_description != '' %}
          <h5 class="text-center" style="font-size: 1.8em;font-weight: 400;">{{site.university_description}}</h5>
          {% endif %}

          <div class="hero-buttons">

            <a href="https://openreview.net"><button class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o"></i>Paper</button></a>
            <a href="https://github.com/pregrasp-pose-generation/pregrasp-generation"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Code</button></a>
            <a href="https://arxiv.org/"><button class="btn btn-default btn-lg"><i class="fa fa-file-o"></i>ArXiv</button></a>


          </div>

        </div>

      </div>

      <!-- <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a> -->

    </div>

  </div>

</div>
